/* Changing font for ALL my Text */
@font-face {
    font-family: 'Horizon';
    src: url('Horizon.woff2') format('woff2');
}

body {
    font-family: 'Horizon', sans-serif;
    background-color: rgb(252, 246, 243);
}

/* Animations */
@keyframes wobble {
    33% {transform: rotate(5deg)}
    66% {transform: rotate(-5deg)}
}

/* Classes and ID's */

/* Logo Box */
.logo {
    background-color: rgb(26, 26, 26);
    height: 450px;
    width: 450px;
    box-shadow: 10px 10px black;
    position: relative;
    top: 50px;
    left: 50px;
}

#title1 {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 90px;
  left: 45px;
}

#title2 {
    color: rgb(252, 246, 243);
    font-size: 270px;
    position: absolute;
    top: -80px;
    left: -75px;
}

/* About Me Box */
.about {
    background-color: rgb(255, 231, 218);
    height: 300px;
    width: 700px;
    box-shadow: 10px 10px rgb(217, 188, 172);
    position: relative;
    top: 100px;
    left: 50px;
}

#about_title {
    color: white;
    font-size: 25px;
    background-color: black;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 20px;
    padding: 5px 10px;
}

#about_text {
    color: black;
    font-size: 20px;
    position: absolute;
    padding-right: 5px;
    top: 50px;
    left: 20px;
}

#resume_text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 225px;
    left: 20px;
}

/* Navigation */
#home {
    z-index: 2;
    background-color: rgb(177, 86, 94);
    box-shadow: 5px 5px rgb(79, 27, 3);
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home:hover{
    animation: wobble 5s ease infinite;
    scale: 1.1;
    transition: 150ms ease;
}

#projects {
    z-index: 2;
    background-color: rgb(177, 86, 94);
    color: white;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 5px 5px rgb(79, 27, 3);
    width: 250px;
    height: 50px;
    position: fixed;
    top: 50px;
    right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects:hover{
    animation: wobble 5s ease infinite;
    scale: 1.1;
    transition: 150ms ease;
}

#experiences {
    z-index: 2;
    background-color: rgb(177, 86, 94);
    color: white;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 5px 5px rgb(79, 27, 3);
    width: 250px;
    height: 50px;
    position: fixed;
    top: 50px;
    right: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#experiences:hover{
    animation: wobble 5s ease infinite;
    scale: 1.1;
    transition: 150ms ease;
}

#linkedin {
    z-index: 2;
    position: fixed;
    top: 125px;
    right: 45px;
}

#github {
    z-index: 2;
    position: fixed;
    top: 125px;
    right: 110px;
}

/* Projects & Experiences Heading */
#label {
    position: fixed;
    background-color: rgb(252, 246, 243);
    z-index: 1;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 50px;
    margin: 0px;
    padding-left: 50px;
    top: 0px;
    left: 0px;
}

/* Projects */
.project {
    display: flex;
    flex-direction: column;
    padding: 0px 25px 5px 25px;
    margin: 0px 0px 25px 50px;
    height: 600px;
    width: 500px;
    background-color: rgb(240, 220, 211);
    box-shadow: 10px 10px rgb(189, 175, 168);
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.project::-webkit-scrollbar {
    display: none;
}

.project:hover {
    scale:1.05;
    transition: 150ms ease;
}

.project_link {
    margin-top: auto; 
    margin-bottom: 15px; 
    color: white; 
    background-color: black;
    padding: 5px 7px;
    margin-right: auto;
}